.group {
  width: 300px;
  padding: 20px;
  border: 2px solid black;
}

.groupList {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  overflow-y: scroll;
  height: 400px;
  scrollbar-width: thin;
}

.groupItem {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: fit-content;
}

.draggedGroupItem {

  background-color: #f0f0f0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;

}

.addButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:hover {
  background-color: #0056b3;
}


.wrap {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
}
.selectedGroupItem {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: #ffcccc;
}

.draggableItem {
  background-color: #66ccff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  cursor: move;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  z-index: 5;
}
