.mainbox {
    width: 60%;
 
margin-left: auto;
margin-right: auto;
    height: 100vh;
    
    border: 1px solid black;
    position: relative;
    background-color: wheat;
    
}


.drag_div {
width: 100px;
height: 100px;
background: red;
position: absolute;
}
.room{

    width: 1000px;
    height: 500px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;

}

